@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    background-color: #F7F7F7;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.best {
    padding: 20px;
    background-color: #FF8D29;
    text-align: center;
    font-weight: bold;
    color: #F7F7F7;
}

h2 {
    text-align: center;
    font-weight:bold ;
}

aside {
    padding: 100px;
    background-color: #FBF8F1;
    color: #FF8D29;
}

footer {
    padding: 20px;
    color: white;
    background-color: #141E27;
    text-align: center;
}

h5{
    color: #FF5F00;
}

p {
    color: #141E27;
}

.pfooter{
    color: #F7F7F7;
}

a{
    font-weight: bold;
}

.card {
    border-radius: 5px;
}

.ig{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border: 0;
}