@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    background-color: #F7F7F7;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #141E27;
    text-align: center;
}

.jumbotronbg{
    padding: 100px;
    background: rgb(195,77,34);
    background: linear-gradient(0deg, rgba(195,77,34,0.927608543417367) 0%, rgba(252,253,45,1) 100%);
}

.team{
    padding: 150px;

}

.ig{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border: 0;
}
